body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6 {
  margin: 0; 
  padding: 0;
  list-style: none;
}
body, button, input, select, textarea {
  font: 12px "Microsoft YaHei",Helvetica Neue,tahoma,Arial,Verdana,"Hiragino Sans GB","\5b8b\4f53";
  color: #333;
  -webkit-font-smoothing: antialiased;
}
body {
  background-color: #f5f5f5;
}
a{
  text-decoration: none;
  color: #333;
}
img {
  border: 0 none;
  vertical-align: top;
}
.wrap{
  margin: 0 auto;
  width: 1070px;
}
div.header{
  min-width: 1070px;
  height: 211px;
  border-bottom: 2px solid #ff4040;
  position: relative;
}
div.hd_top_bar{
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  line-height: 30px; 
}
div.hd_top_bar a:hover{
  color: #ff4040;
}
div.hd_top_bar img{
  width: 16px;
  display: inline-block;
  margin-top: 6px; 
}
.hd_topbar_city{
  float: left;
  height: 30px;
  padding: 0 10px;
  color: #666;
}
div.hd_top_bar img.top_vip{
  width: 20px;
}
div.hd_top_bar img.top_dingdan{
  width: 14px;
  margin-top: 8px;
}
.hd_top_bar .hd_topbar_home{
  float: left;
  height: 30px;
  padding-left: 20px;
  color: #666;
}
.hd_top_bar .hd_topbar_right{
  float: right;
  color: #666;
}
.hd_top_bar .hd_topbar_right li{
  float: left;
}
.hd_top_bar .hd_topbar_right .hd_unlogin{
  padding:0 10px;
}
.hd_top_bar .hd_topbar_right .hd_unlogin .hd_login_link{
  color: #ff4040;
}
.hd_top_bar .hd_topbar_right .hd_unlogin .hd_regist_link{
  color: #aaa;
  padding-left: 12px;
}
.hd_top_bar .hd_topbar_right .hd_unlogin .hd_regist_link:hover{
  color: #ff4040;
}
.hd_top_bar .hd_topbar_right .hd_menu{
  min-width: 66px;
  padding: 0 7px;
}
div.hd_top_bar_bt{
  width: 100%;
  height: 180px;
  background-color: #fff;
}
.hd_top_bar_bt .header_bp{
  height: 180px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
div.hd_top_bar_bt .hd_header{
  height: 180px;
  position: relative;
}
/* logo */
.hd_top_bar_bt .hd_header .hd_logo_area{
  float: left;
  width: 300px;
  height: 140px;
  position: relative;
}
.hd_top_bar_bt .hd_header .hd_logo_area a{
  width: 140px;
  height: 140px;
  float: left;
  margin-right: 160px;
}
.hd_top_bar_bt .hd_header .hd_logo_area a img{
  width: 140px;
  height: 140px;
}
.hd_top_bar_bt .hd_header .hd_logo_area img.inner{
  height: 90px;
  position: absolute;
  top: 25px;
  left: 140px;
}
/* 搜索导航 */
.hd_top_bar_bt .hd_header .hd_header_right{
  position: relative;
  float: right;
  width: 650px;
  height: 67px;
  padding-top: 50px;
}
/* 搜索框 */
.hd_top_bar_bt .hd_head_search{
  position: relative;
}
.hd_top_bar_bt
.hd_head_search input{
  width: 476px;
  height: 38px;
  border: 2px solid #ff4040;
  line-height: 38px;
  color: #333;
  background: #fcfcfc;
  border-radius: 100px;
  padding-left: 32px;
  outline: 0;
}

.hd_top_bar_bt
.hd_head_search .hd_search_btn{
  position: absolute;
  top: 2px;
  right: 138px;
  border: 0;
  height: 38px;
  width: 60px;
  background: #ff4004;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  cursor: pointer;
}
.hd_top_bar_bt
.hd_head_search .hd_search_btn img{
  width: 24px;
}
.hotKeywordsShow{
  height: 19px;
  padding-top: 8px;
  padding-left: 32px;
}
.hotKeywordsShow ul>li{
  float: left;
}
.hotKeywordsShow ul>li>a{
  font-size: 14px;
  color: #aaa;
  margin-right: 10px;
}
.hotKeywordsShow ul>li>a:hover{
  color: #333;
}
/* 购物车 */
.hd_mini_cart{
  position: absolute;
  top: 50px;
  right: 0;
}
.hd_mini_cart>a{
  display: inline-block;
  width: 120px;
  height: 20px;
  border: 1px solid #e2e2e2;
  border-radius: 100px;
  text-align: center;
  line-height: 20px;
  padding: 9px 0;
}
.hd_mini_cart>a>img{
  width: 20px;
}
.hd_mini_cart span{
  color: #333;
  font-size: 16px;
}
/* nav主导航 */
.hd_header_nav{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1070;
  height: 38px;
  line-height: 38px;
}
.hd_header_nav .category-list-root{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 140px;
  height: 38px;
  text-align: center;
  color: #fff;
  background: #ff4040;
  margin-top: 2px;
}
.hd_header_nav .category-list-root img:first-child{
  width: 16px;
  margin: 11px 12px 0 0;
}
.hd_header_nav span{
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.hd_header_nav .category_list{
  position: absolute;
  top: 36px;
  left: 0;
  width: 1068px;
  height: 410px;
  background: #fff;
  border: 1px solid #ff4040;
  z-index: 1000;
}
.hd_header_nav .category_list .column-item{
  float: left;
  width: 155px;
  height: 350px;
  padding-left: 22px;
  margin: 30px 0;
  border-right: 1px solid #e9e9e9;
}
.hd_header_nav .category_list .column-item:last-child{
  border-right: 1px solid #fff;
}
.hd_header_nav .category_list .column-item .category-item{
  width: 155px;
  height: 175px;
  text-align: left;
}
.hd_header_nav .category_list .column-item .category-item .title{
  width: 155px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  padding-bottom: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.hd_header_nav .category-list-root img:last-child{
  width: 10px;
  margin-top: 14px;
}
.hd_header_nav ul.nav-list{
  padding-left: 140px;
  font-size: 16px;
}
.hd_header_nav ul.nav-list>li{
  float: left;
  margin-left: 30px;
}
.hd_header_nav ul.nav-list li a:hover{
  color: #ff4040;
}
