*{margin:0;padding:0;list-style:none;}
a{
    text-decoration:none;
    color:#333;
}
body, button, input, select, textarea {
    font:12px Arial,Helvetica,sans-serif;
    color:#333;
}
/*	页头	*/
#header{
    height:82px;
    box-sizing:border-box;
    border:1px solid #e1e1e1;
    background:#fff;
    padding:16px;
}
.logo{
    float:left;
    margin-left:100px;
}
.logo>img{
    height:55px;
}
.logo-title{
    color:#4f4d4e;
    font-size:26px;
    float:left;
    margin-top:14px;
}
.regist_header_right{
    line-height:12px;
    font:12px "SimSun";
    color:#999;
    margin-right:100px;
}
.regist_header_right .hd_menu{
    float:right;
    color:#333;
    padding:0 24px 0 6px;
    margin-left:38px;
}
.regist_header_right span{
    float:right;
}
a.blue_link{
    color:#06c; 
}
/*内容*/
#container{
    width:330px;
    margin:0 auto;
    padding:30px 0;
}
h4.ct-title{
    text-align:center;
    font-weight:bold;
    font-size:24px;
    line-height:40px;
    color:#333;
}
.clearfix>li{
    position:relative;
    margin-top:10px;
}
div.y_same_item{
    position:relative;
    width:328px;
    height:50px;
    border:1px solid #dedede;
    border-radius:3px;
}
div.code_btn{
    width:192px;
    float:left;
}
.y_code_btn{
    height:52px;
}
.y_code_btn>a{
    display:inline-block;
    width:126px;
    height:50px;
    margin-left:10px;
    text-align:center;
    background-color:#57565f;
    line-height:50px;
    color:#fff;
    cursor:default;
    border-radius:2px;
    font-size:14px;
}
div.code_btn>input{
    width:152px;
}
.clearfix input{
    width:288px;
    height:20px;
    margin-top:15px;
    padding:0px 20px;
    border:0;
    background:#fff;
    outline:0;
    font-size:14px;
    line-height:20px;
    color:#666;
}
div.y_same_item .y_same_label{
    position:absolute;
    left:20px;
    top:15px;
    font-size:14px;
    color:#666;
    transition:all 0.2s linear;
}
div.y_regist_tip{
    position:absolute;
    left:348px;
    top:-4px;
    width:180px;
    height:60px;
    background:#e4e4e4;
    padding:10px;
    border-radius:3px;
    box-sizing:border-box;
    color:#666;
    line-height:20px;
}
div.y_regist_tip.wt{
    width:104px;
    top:6px;
    height:40px;
}
div.y_regist_tip.bg{
    background:#fff4d7;
}
div.y_regist_tip_ts{
    position:absolute;
    left:348px;
    top:6px;
    width:104px;
    height:40px;
    background:#fff4d7;
    padding:10px;
    border-radius:3px;
    box-sizing:border-box;
    color:#666;
    line-height:20px;
}
div.y_regist_tip_ts.wt{
    width:129px;
}
div.y_regist_tip_ts.wt2{
    width:140px;
}
.y_agreement_word{
    height:35px;
    font-size:12px;
    line-height:35px;
    color:#666;
    text-indent:1em;
}
.y_agreement_word>a{
    color:#06c;
    font-size:12px;
}
.y_agreement_btn{
    display:block;
    width:330px;
    height:52px;
    margin-top:6px;
    background-color:#ff3c3c;
    font-size:16px;
    line-height:52px;
    color:#fff;
    text-align:center;
    border-radius:2px;
}
/*	页尾	*/
#footer{
    width:980px;
    margin:20px auto 0;
    text-align:center;
}
#footer>a{
    margin:0 8px;
    color:#333;
}